* {
   font-family: Helvetica, Arial;
 }
 
 body{
   background: linear-gradient(to right, #454be8, #1c26a8);
 }
 
 h1, h3{
   color: aliceblue;
 }
 
 #title{
   font-family: monospace; 
   font-size: 3.5rem;
 }
 
 .separator{
   border-top: 1px solid white;
 }
 
 .card-img-top {
   height: 200px;
 }